<div class="container mt-3">
  <!-- Project Name -->
  <div style="width: 100vw; height: 20vh" class="container d-flex">
    <div class="container d-flex">
      <h3 class="m-1 p-2">Project Name:</h3>
      <h3 class="m-1 fs-1 text-info-emphasis">Shop Cart</h3>
    </div>
    <div>
      <p>Created by</p>
      <h5 class="mb-0">Gnanesh</h5>
    </div>
  </div>

  <div
    class="my-2"
    style="height: 2px; width: 90vw; background-color: grey"
  ></div>

  <!-- About the Project -->
  <div class="my-5">
    <h2>About the Project</h2>
    <p>
      Explore our user-friendly E-commerce website, powered by Angular. Discover
      a wide range of products sourced from the API to household essentials. Our
      website provides a seamless shopping experience with essential features:
    </p>
    <ul>
      <li>
        Secure User Authentication: Log in with confidence thanks to our robust
        validation system.
      </li>
      <li>
        Effortless Registration: Create your account quickly and securely to
        enjoy personalized shopping.
      </li>
      <li>
        Shop & Cart: Browse products and add them to your cart, visible in the
        navbar for easy access.
      </li>
      <li>
        Efficient Checkout: Review and finalize your purchases with a single
        click.
      </li>
    </ul>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: grey"
  ></div>

  <!-- Technology Used -->
  <div class="container">
    <div>
      <h4>Technolgy Used:</h4>
      <!-- Angular -->
      <div class="container">
        <ul>
          <li class="fs-5">Angular Framework - Version 18.8.0</li>
          <ul>
            <li>HTML - Version 5</li>
            <li>CSS - Version 3</li>
            <li>TypeScript - Version 5.2.2</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>

  <!-- Challenges faced -->
  <div class="container">
    <div>
      <h4>Challenges:</h4>

      <div class="container">
        <p>
          Our journey in building this website was marked by several challenges,
          including:
        </p>
        <ul>
          <li>
            Real-time Products: Displaying up-to-the-minute product data from
            the Fake Store API.
          </li>
          <li>
            User Security: Implementing strong security and validation for user
            login and registration.
          </li>
          <li>
            Cart: Creating an intuitive and secure shopping cart and checkout
            process for a seamless user experience.
          </li>
        </ul>
      </div>

      <!-- Storage System -->
      <div>
        <h4>Storage</h4>
        <li>Local Storage</li>
      </div>

      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>

      <!-- Hosting Details -->
      <div class="container">
        <h4>Hosting Details</h4>
        <div class="container">
          <ul>
            <li class="text-info">GitHub Pages</li>
            <ul>
              <li class="fs-5">Link :</li>
              <a href="https://gnanesh-g.github.io/E-commerce-Angular/"
                >https://gnanesh-g.github.io/E-commerce-Angular/</a
              >
            </ul>
          </ul>
        </div>
      </div>

      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>

      <!-- Supported Device -->
      <div class="container">
        <h4>Supported Devices:</h4>
        <div class="container">
          <ul>
            <li>
              Desktop or large screen Devices for seemless Working and
              performance.
            </li>
            <li>Preferable to use in Desktop.</li>
          </ul>
        </div>
      </div>

      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>

      <!-- Page details -->

      <div class="container">
        <h4>Web Pages Details:</h4>
        <div class="row justify-content-evenly">
          <!-- registration Page -->
          <div class="card m-2 col-3 border border-success rounded p-3">
            <h5
              style="background-color: grey; color: aliceblue"
              class="p-2 rounded ps-3 my-2"
            >
              Registration page:
            </h5>
            <div class="mt-3">
              <ul>
                <li>Customer can Create and Account in the Patform.</li>

                <li>Requirements :</li>
                <ul>
                  <li style="list-style: disc">
                    Name, Email, Password and Confirm Password
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          <!-- Login Form -->
          <div class="card m-2 col-3 border border-success rounded p-3">
            <h5
              style="background-color: grey; color: aliceblue"
              class="p-2 rounded ps-3 my-2"
            >
              Login Page:
            </h5>
            <ul class="mt-4">
              <li>User can Login Using their credentials</li>

              <li>requirements :</li>
              <ul>
                <li style="list-style: disc">
                  registered Email, registered Password.
                </li>
              </ul>
            </ul>
          </div>
          <!-- Home Page -->
          <div class="card m-2 col-3 border border-success rounded p-3">
            <h5
              style="background-color: grey; color: aliceblue"
              class="p-2 rounded ps-3 my-2"
            >
              Home Page:
            </h5>
            <ul style="font-size: 14px" class="mt-4">
              <li>Products are Shows in Card form.</li>
              <li>Users Can Add their Favourite Products in their cart.</li>
              <li>
                Count of the products increase based on the user click the add
                to cart button.
              </li>

              <li>Product Card Contents:</li>
              <ul>
                <li style="list-style: disc">
                  Product Image, Product Name,Price, Add to Cart Button.
                </li>
              </ul>
            </ul>
          </div>
          <!-- Cart Page -->
          <div class="card m-2 col-3 border border-success rounded p-3">
            <h5
              style="background-color: grey; color: aliceblue"
              class="p-2 rounded ps-3 my-2"
            >
              Cart Page:
            </h5>
            <ul class="mt-4">
              <li>User can see the product details in the cart.</li>
              <li>
                User can see the total amount of the products in the cart.
              </li>
            </ul>
          </div>

          <!-- Navigation Page -->
          <div class="card m-2 col-3 border border-success rounded p-3">
            <h5
              style="background-color: grey; color: aliceblue"
              class="p-2 rounded ps-3 my-2"
            >
              Navigation Bar:
            </h5>
            <ul class="mt-4">
              <li>Contain Logo name, cart,sign out.</li>
              <li>
                User can See their Products in Cart and their cart Products
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>

      <!-- Login Credentials -->
      <div class="container">
        <h4>Login Credentials</h4>
        <div class="container">
          <ul>
            <li>Create User Account and get Access.</li>
          </ul>
        </div>
      </div>
      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>
      <!-- Validations -->
      <div class="container">
        <h4>Validations:</h4>
        <div class="container">
          <ul>
            <li>User Validations.</li>
            <li>Login User only see the contents.</li>
            <li>Showing cart of the particular user only.</li>
            <li>Everything work if the user is logged in.</li>
          </ul>
        </div>
      </div>
      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>
      <!-- Future Works -->
      <div class="container">
        <h4>Future Works :</h4>
        <div class="container">
          <ul>
            <li>Selling of Products will implements in Next Version.</li>
            <li>Payment Gateway.</li>
            <li>Implements More User friendly UI for better Understanding.</li>
          </ul>
        </div>
      </div>

      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>

      <!-- Thank You Greetings -->
      <div>
        <h1 class="text-info text-center">Finally,Thank You.!!!</h1>
        <p class="text-primary text-center">
          Ready to explore the Shopping Cart..!!!
        </p>
      </div>
      <div
        class="my-5"
        style="height: 2px; width: 90vw; background-color: grey"
      ></div>

      <!-- Accept User Details -->
      <div class="container mb-5">
        <div class="ms-2 mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
            checked
          />
          <label class="form-check-label" for="exampleCheck1"
            >I read all the instructions.</label
          ><br />
        </div>
        <button class="my-2 btn btn-success" routerLink="/login">
          Go to the website
        </button>
      </div>
    </div>
  </div>
</div>
