/* You can add global styles to this file, and also import other style files */
/* .productcard{
    display: flex;
    margin-left: 20%;
    margin-top: 10px;
    width: 160px;
    height: 150px;
    border-radius: 10px;
  }
  .card {
    width: 23%;
    height: 23%;
    margin-right: 10px;
    margin-bottom: 10px;
  } */
  /* .card{
    background-color: blue;
  }
  #text{
    background-color: brown;
  }  */